{% extends "index1.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Зарегистироваться</button>
        <h2>{{labelLogin}}</h2>
    </form>
</body>
{% endblock %}